<!-- index.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamma</title>
    <!-- スタイルシートや追加のメタタグをここに追加 -->
</head>
<body>

<div>
    <!-- <img src="app-logo.png" alt="アプリロゴ"> -->
    <h1>Mamma</h1>
    <nav>
        <ul>
            <li><a href="#home">ホーム</a></li>
            <li><a href="#create-menu">献立作成</a></li>
            <li><a href="#search-recipe">料理検索</a></li>
            <li><a href="/menu-register">料理登録</a></li>
            <li><a href="#edit-recipe">料理編集</a></li>
            <li><a href="#settings">各種設定</a></li>
        </ul>
    </nav>
</div>

<!-- トップセクション -->
<section id="top-section">
    <!-- トップバナー -->
    <div>
        <h1>最新情報</h1>
    </div>

    <!-- 新着献立セクション -->
    <div>
        <h2>過去の献立</h2>
        <!-- ここに新着献立の表示を追加 -->
    </div>
</section>

<!-- 追加の提案やフッターなどをここに追加 -->

</body>
</html>
